@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    /*background-image: linear-gradient(to right top, #051937, #001943, #00174e, #001559, #010f62);*/
    color: var(--text);
    background-color: var(--background);
}

::selection {
    background-color: var(--active);
    color: var(--arrow-fill);
}

code, pre {
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.5;
}

code {
    background: var(--code-bg);
    color: var(--code-text);
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
}

*, *::before, *::after{
    box-sizing: border-box;
}

a {
    text-decoration: underline;
    text-decoration-color: var(--active);
    color: var(--active);
}

body {
    margin: 0;
}

pre {
    margin-top: 0.75rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: #1E1F22;
    color: white;
    border: var(--code-border);
    overflow-x: auto;
    font-variant-ligatures: none;
}

.keyword {
    color: orange;
}

.comment, .comment > * {
    color: #7A7E85;
}

.purple {
    color: #9876AA;
}

.number {
    color: #6897BB;
}

.string {
    color: green;
}

.yellow {
    color: #FFC66D;
}

.error {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}

code.error{
    text-decoration: none;
    color: red;
}

:root{
    --background: #fff;
    --background-dark: #fff;
    --text: black;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --active: #001489;
    --active-hover: #2752b3;
    --code-border: 1px solid #2b2d30;
    --button-border: black;
    --code-bg: #f2f2f2;
    --code-text: black;
    --arrow-fill: white;
    --arrow-stroke: black;
    --hover-bg: rgba(123, 127, 134, 0.2);
}

html.dark {
    --background: #2b2d30;
    --background-dark: #2b2d30;
    --text: #fff;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    --shadow: none;
    --code-border: 1px solid silver;
    --active: yellow;
    --active-hover: #FFB300;
    --button-border: silver;
    --code-bg: #383838;
    --code-text: #FFF;
    --arrow-fill: black;
    --arrow-stroke: white;
    --hover-bg: rgba(255, 255, 255, 0.11);
}

html.dark #hamburger {
    filter: invert(100%);
}


table {
    width: 100%;
    margin-block: 2rem;
}

th {
    border: 1px solid var(--text);
}

tr, td {
    border: 1px solid var(--text);
}

details {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}



